<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistem_Parkir.My.MySettings.ParkirConnectionString"
            connectionString="Data Source=LIKO-X230;Initial Catalog=Parkir;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sistem_Parkir.My.MySettings.InventoriDbo" connectionString="Data Source=LIKO-X230;Initial Catalog=Inventori;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sistem_Parkir.My.MySettings.UserConnectionString"
            connectionString="Data Source=LIKO-X230;Initial Catalog=User;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>